<div class="footer-list">
  <div class="footer-item">Hizmet Şartları</div>
  <div class="footer-item">Gizlilik Politikası</div>
  <div class="footer-item">Çerez Politikası</div>
  <div class="footer-item">Imprint</div>
  <div class="footer-item">Erişilebilirlik</div>
  <div class="footer-item">Reklam Bilgisi</div>
  <div class="more">
    <div class="footer-item" [popover]="showMore" [outsideClick]="true">
      Daha Fazla
    </div>
    <div class="footer-item icon"><i class="fa-solid fa-ellipsis"></i></div>
    <div class="footer-item copyright">© 2023 X Corp.</div>
  </div>
</div>

<ng-template #showMore>
  <div class="show-more-div">
    <div class="show-more-item">Hakkında</div>
    <div class="show-more-item">Durum</div>
    <div class="show-more-item">İşletmeler İçin X</div>
    <div class="show-more-item">Geliştiriciler</div>
  </div>
</ng-template>
